<div id="divRegister">
    <fieldset>
        <legend>Register Game</legend>
        <div class="form-group">
            <label for="Tag" class="col-lg-2 control-label">Tag</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="Tag"
                       placeholder="Tag">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="button" class="btn btn-primary"
                        id="btnRegister">
                    Register
                </button>
            </div>
        </div>
    </fieldset>
</div>