<div id="divGameInformation" class="form-group">
    <div class="form-group" id="divGameInfo"></div>

    <div class="form-group" id="divInfo">
    </div>
</div>
<div class="container-fluid justify-content-center col-12 col-md-6 col-sm-9 center-position">
    <div class="row">
        <div class="col-4 p-1 ">
            <img id="0" src="~/img/-1.png" class="img-fluid ceil-border" onclick="Move(0)">
        </div>
        <div class="col-4 p-1 ">
            <img id="1" src="~/img/-1.png" class="img-fluid ceil-border" onclick="Move(1)">
        </div>
        <div class="col-4 p-1 ">
            <img id="2" src="~/img/-1.png" class="img-fluid ceil-border" onclick="Move(2)">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4 p-1 ">
            <img id="3" src="~/img/-1.png" class="img-fluid ceil-border" onclick="Move(3)">
        </div>
        <div class="col-4 p-1 ">
            <img id="4" src="~/img/-1.png" class="img-fluid ceil-border" onclick="Move(4)">
        </div>
        <div class="col-4 p-1 ">
            <img id="5" src="~/img/-1.png" class="img-fluid ceil-border" onclick="Move(5)">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4 p-1 ">
            <img id="6" src="~/img/-1.png" class="img-fluid ceil-border" onclick="Move(6)">
        </div>
        <div class="col-4 p-1 ">
            <img id="7" src="~/img/-1.png" class="img-fluid ceil-border" onclick="Move(7)">
        </div>
        <div class="col-4 p-1 ">
            <img id="8" src="~/img/-1.png" class="img-fluid ceil-border" onclick="Move(8)">
        </div>
    </div>
    <div class="row justify-content-between mt-3" id="tags-of-game">
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script>
    document.getElementById("divInfo").hidden = true;
    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl("/game")
        .build();

    hubConnection.on('waitingForMove' ,function(data){
        document.getElementById("divInfo").hidden = false;
    });


    hubConnection.on('moveMade', data => {
        for (i = 0; i < data.length; i++) {
            document.getElementById(i).src = "/img/" + data[i] + ".png";
        }
    });
    hubConnection.on('GameOver', data => {
        document.getElementById("divInfo").hidden = false;
        document.getElementById("divInfo").append(data)
    });
    hubConnection.on('RedirectHome', data => {
        window.location.href = `/Home/Games`
    });
    function Move(id){
        //if (span.hasClass("notAvailable")) {
        //    return;
        //}
        document.getElementById("divInfo").hidden = true;
         
        hubConnection.invoke('MakeAMove', id, "@User.Identity.Name");
    }
    hubConnection.start();
</script>